/* ----------------------------common styles-------------------------- */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

/* ----------------------------common styles-------------------------- */
/* ........................header and navigation start.....................*/
.header-background{
    background-color:rgb(94, 94, 194);
    height: 677px;
    width: 1519px;
}
.links{
    display: flex;
    justify-content: space-between;
}
.link{
    margin-left: 156px;
    margin-top: 52px;
}
.link a{
    text-decoration: none;
    margin-right: 36px;
    color: white;

}
.login-page{
    margin-right: 124px;
    color: white;
    margin-top:45px ;
   padding: 10px 30px;

   background-color: rgb(218, 80, 156);
}
.login-page a{
    text-decoration: none;
    color: white;
   
}
.login-page p{
   margin: 0%;
}
/* ------------------------nav end------------------------------------ --*/

.top-banner{
    display: flex;

}
.banner-detailes{
    margin-left: 161px;
    margin-top: 130px;
    margin-bottom: 141px;
    margin-right: 43px;
}
.banner-detailes h1{
    font-size: 64px;
    font-weight:900;
    color: white;
    margin: 0%;
}
.banner-detailes a{text-decoration: none;
    color: white;
    padding: 10px 23px;
    background-color: rgb(218, 80, 156);
    
}

.banner-width{
    width: 50%;
}

.banner-img{
    margin-top: 62px;
    margin-right: 141px;
    margin-bottom: 86px;
    margin-left: 42px;
}
.banner-img img{
    width:556px ;
    height: 438px;
}
/*......................... header end .................................. */
/* ........................header and navigation end.....................*/

/* -----------------------player section start-------------------------- */
.players{
    margin-left: 180px;
    margin-right: 210px;
    margin-top: 70px;
}
.player{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 24px;
 
   align-items: center;
}

.individul-player{
    box-shadow: 0 0 20px rgb(209, 203, 203);
    height: 484px;
    width: 345px;
    
}
.individul-player img{
    width: 316px;
    height: 259px;
  padding: 15px;
}
.individul-player h1, p{
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-top: 0%;
}
/* -----------------------player section start-------------------------- */
/* ----------------------highlight section start ----------------------- */
.all-highlights{
    margin-top: 165px;
    margin-right: 159px;
    margin-left: 180px;
    margin-bottom: 150px;
}
.highlights{
    display: flex;
}
.highlight{
    margin-right: 66px;
}
.highlight-banner img{
    width: 567px;
    height: 427px;
    
}

.highlight h1{
font-size: 50px;
font-weight: 900;
margin-bottom: 20px;
}

.highlight p{
    margin-left: 0%;
    text-align: justify;
    margin-bottom: 30px;
}

.highlight a{
    text-decoration: none;
    padding: 11px 40px;
    background-color: rgba(243, 11, 42, 0.671);
    color: white;
}

/* ----------------------highlight section end ----------------------- */
/* -----------------------fixture section start-----------------------  */
.all-fixture{
    margin-left: 215px;
    margin-bottom: 150px;
}
.fixtures img{
    height: 300px;
    width: 1100px;
    
}
.fixtures h2{
   color:rgb(119, 235, 11);
}

.fixtures h2>a{
    text-decoration: none;
    padding: 15px 25px;
    box-shadow: 0 0 40px rgb(47, 85, 255);
    background-color: rgb(30, 61, 49);
    border-radius: 40px;
    color: white;
    margin-left: 20px;
}

/* -----------------------fixture section end-----------------------  */
/* -------------------------ticket section start---------------------- */
.all-ticket{
    margin-bottom: 150px;
}
.tickets{
    display: flex;
}

.ticket img{
    height: 400px;
    width: 700px;
    
}
.ticket-here img {
    width: 650px;
    height: 335px;
    margin-top: 45px;
    border-radius: 40px;
    
}



.ticket h3{
    margin-left: 160px;
    margin-top: 0%;
    color:rgb(119, 235, 11);
}

.ticket h3>a {
    text-decoration: none;
    padding: 15px 25px;
    box-shadow: 0 0 40px rgb(47, 85, 255);
    background-color: rgb(30, 61, 49);
    border-radius: 40px;
    color: white;
    margin-left: 20px;
}
.ticket-here h3{
    color: rgb(119, 235, 11);
}
/* -------------------------ticket section end---------------------- */

/*----------------------- footers section start ---------------------------*/
.footers{
    text-align: center;
}

.footer-banner img{
    width: 483px;
    height: 110px;
}

.footer-icon{
  font-size: 32px;

}
.fab{
    margin-left: 5px;
    margin-right: 5px;
}

/*----------------------- footers section end ---------------------------*/

/* -----------------------------Media query start ----------------------------- */
/* ------mobile devices start------- */

@media only screen and (max-width: 688px) {
   
    .login-page{
        margin-right: 320px;
        
    }
    .top-banner{
       flex-direction: column;
       
       
    }
    .header-background{
        height: 100%;
        
    }
    .banner-width{
        width: 100%;
    }
    .banner-img{
        margin-left: 161px;
    }
  
    .player{
        grid-template-columns: repeat(1, 1fr);
        
    }
    .highlights{
        flex-direction: column;
    }
    .all-highlights{
        margin-right: 0%;
    }
    .highlight{
        margin-bottom: 30px;
    }
    
    .all-fixture{
        margin-left: 180px;
    }
    .fixtures h2>a{
        padding: 0%;
        box-shadow: 0 0 10px gray;
    }
    
    .tickets{
        flex-direction: column;
    }
    .ticket h3>a {
        padding: 0%;
        box-shadow: 0 0 10px gray;
    }
    
    .ticket-here{
        margin-left: 180px;
    }
        
        
    footer{
        margin-left: 180px;
    }  
        
  }

/* ------mobile devices end------- */
/* -----------------------------Media query end----------------------------- */
